{% extends "base.html" %}


{% block content %}

<h2 class="form-title">Archivage</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Archivage</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Archivage in object_list %}
        <tr>
            <td>{{ Archivage }}</td>
            <td><a href="{% url "Archivage_detail" Archivage.id %}">view</a></td>
            <td><a href="{% url "Archivage_update" Archivage.id %}">edit</a></td>
            <td><a href="{% url "Archivage_delete" Archivage.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "archivage_create" %}">New</a>
</div>


{% end block content %}
