{% extends "base.html" %}


{% block content %}

<h2 class="form-title">Porte</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Porte</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Porte in object_list %}
        <tr>
            <td>{{ Porte }}</td>
            <td><a href="{% url "Porte_detail" Porte.id %}">view</a></td>
            <td><a href="{% url "Porte_update" Porte.id %}">edit</a></td>
            <td><a href="{% url "Porte_delete" Porte.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "porte_create" %}">New</a>
</div>


{% end block content %}
