{% extends "base.html" %}


{% block content %}

<h2 class="form-title">Batiment</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Batiment</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Batiment in object_list %}
        <tr>
            <td>{{ Batiment }}</td>
            <td><a href="{% url "Batiment_detail" Batiment.id %}">view</a></td>
            <td><a href="{% url "Batiment_update" Batiment.id %}">edit</a></td>
            <td><a href="{% url "Batiment_delete" Batiment.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "batiment_create" %}">New</a>
</div>


{% end block content %}
