{% extends "base.html" %}


{% block content %}

<h2 class="form-title">Salle</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Salle</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for Salle in object_list %}
        <tr>
            <td>{{ Salle }}</td>
            <td><a href="{% url "Salle_detail" Salle.id %}">view</a></td>
            <td><a href="{% url "Salle_update" Salle.id %}">edit</a></td>
            <td><a href="{% url "Salle_delete" Salle.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "salle_create" %}">New</a>
</div>


{% end block content %}
